.DS_Store
application/.htaccess
application/cache/
application/config/
application/controllers/index.html
application/controllers/welcome.php
application/core/
application/errors/
application/hooks/
application/index.html
application/language/
application/logs/
application/third_party/index.html
application/models/
index.php
license.txt
nbproject/
system/
user_guide/

application/controllers/admin_old.php

application/views/profiler_template.php

application/views/index.html

application/views/welcome_message.php

application/libraries/index.html

application/libraries/Profiler.php

application/libraries/Console.php

application/helpers/index.html
